**Assignment**

Data Types and Structures Questions

1 What are data structures, and why are they important?
- Data Structures are specialized ways of organizing, managing, and storing data in a computer so that it can be accessed and modified efficiently.

 They allow you to store and retrieve data quickly

 Choosing the right data structure can reduce time and space complexity (e.g., using a hash table for quick lookups).

 Many algorithms are built around specific data structures (e.g., graphs for networks, trees for hierarchical data).

2 Explain the difference between mutable and immutable data types with examples ?
 - Mutable data types can be changed after they are created. You can modify their content without changing their identity (i.e., memory location remains the same).

 Immutable data types cannot be changed after they are created. Any change creates a new object in memory.

3 What are the main differences between lists and tuples in Python ?
- Lists are mutable and can be changed (add, remove, update elements).

  Tuples are unmutable and cannot be changed after creation.

4 Describe how dictionaries store data
- A dictionary in Python is a collection of key-value pairs.
 Dictionaries are implemented using a hash table under the hood
  
  Every key is passed through a hash function (via hash(key)).This returns a unique integer (called the hash value).
  
  The hash value is used to calculate an index in a memory array (called a hash table).
  
  At the computed index, Python stores both the key and the value.

  If two keys hash to the same index (called a collision), Python uses a technique like open addressing or chaining to store the new key in another location.

5  Why might you use a set instead of a list in Python ?
- A set is a built-in Python data structure that stores unordered, unique elements. There are several reasons why you might choose a set over a list

 Sets automatically remove duplicate values, while lists allow them.

 Checking if an element exists is much faster in sets than in lists (on average O(1) for sets vs O(n) for lists).

 Sets support operations like:

 Union (set1 | set2)  

 Intersection (set1 & set2)

 Difference (set1 - set2)

6 What is a string in Python, and how is it different from a list ?
- A string is a sequence of characters enclosed in quotes (' or "), used to represent text.

 Strings in Python are:  Immutable (cannot be changed),
 Indexed (support slicing) ,Iterable (can loop through)

7 How do tuples ensure data integrity in Python ?
- Data integrity means ensuring that data is accurate, consistent, and not accidentally changed or corrupted during program execution.

 Tuples are immutable, meaning once created, their content cannot be changed.

 No one can: add,remove and modify the elements in tuple.

8 What is a hash table, and how does it relate to dictionaries in Python?
- A hash table is a data structure that stores data in key-value pairs using a process called hashing. It uses a hash function to convert a key into an index in an underlying array. The value is stored at that computed index.

 How it works

 Step 1 : Hashing the Key

 Step 2 : Calculating the Index

 Step 3 :  storing the Key-Value Pair

 Step 4 : Handling Collisions

9 Can lists contain different data types in Python ?
- In Python, lists can contain elements of different data types — including integers, strings, floats, booleans, other lists, and even custom objects.

 Python is a dynamically typed and high-level language, meaning:

 Variables (and list elements) don’t need a fixed data type.

 Each element in the list is just a reference to an object, regardless of its type.

10 Explain why strings are immutable in Python ?
- When a data type is immutable, it means you cannot change its contents after creation.

 For strings in Python:

 You cannot modify individual characters

 Any “change” actually creates a new string object

11 What advantages do dictionaries offer over lists for certain tasks ?
- Dictionaries (dict) and lists (list) are both powerful data structures in Python — but they are suited to different kinds of tasks.

 Here’s when and why you’d use a dictionary over a list:

 1. Fast Lookup by Key (O(1) Time)

 2. Key-Value Pair Organization

 3. Avoid Duplicates and Confusion

 4. Better for Structured Data

12 Describe a scenario where using a tuple would be preferable over a list ?
- As we know that tuple is unmutable no one can modify the tuples, there is sensitive document like aadhaar card where everyone has their unique identification in that cases use tuple over list

13. How do sets handle duplicate values in Python ?
- A set is an unordered collection of distinct (unique) items.

 Defined using {} or the set() constructor.

 Like mathematical sets, they cannot have duplicates.

14. How does the “in” keyword work differently for lists and dictionaries ?
- In list: The "in" keyword checks if a value exists in the list.

 In dictionary : The "in" keyword checks if a key exists, not the value.

15. Can you modify the elements of a tuple? Explain why or why not ?
- No, you cannot modify the elements of a tuple in Python. Because tuples are immutable — once a tuple is created, its contents cannot be changed.

16. What is a nested dictionary, and give an example of its use case ?
- A nested dictionary is a dictionary inside another dictionary.
It allows you to store and organize hierarchical or structured data, like records within records.

17. Describe the time complexity of accessing elements in a dictionary ?
- In Python, dictionaries are implemented using a hash table, which provides very fast access to elements.

 The dictionary uses the hash of the key to directly locate the value's position in memory.

 No need to search through all elements

18. In what situations are lists preferred over dictionaries ?
- In what situations are lists preferred over dictionaries.

 For small, simple datasets where names or categories aren't needed

 Lists allow duplicate elements. Dictionaries do not (since keys must be unique).

19. Why are dictionaries considered unordered, and how does that affect data retrieval ?
-

20. Explain the difference between a list and a dictionary in terms of data retrieval
- How to access in list Index (0, 1, 2...)
   
  How to access in dictionary Key (like 'name', 'age')

  Syntax	in list my_list[1]
  
  Syntax in dictionary my_dict["name"]

**PRACTICAL QUESTIONS**

In [1]:
#1. Write a code to create a string with your name and print it ?
my_name = "Pratik Deshmukh"
print("My name is:", my_name)

My name is: Pratik Deshmukh

In [2]:
#2.  Write a code to find the length of the string "Hello World" ?
str = "Hello World"
len(str)

11

In [3]:
#3.  Write a code to slice the first 3 characters from the string "Python Programming" ?
str = "Python Programming"
str[0:3]

'Pyt'

In [4]:
#4.  Write a code to convert the string "hello" to uppercase ?
str = "hello"
str.upper()

'HELLO'

In [5]:
#5.  Write a code to replace the word "apple" with "orange" in the string "I like apple" ?
str = "I like apple"
str.replace("apple","orange")

'I like orange'

In [9]:
#6.  Write a code to create a list with numbers 1 to 5 and print it ?
list = [1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [11]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4] ?
list = [1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [13]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5] ?
list = [1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [14]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'] ?
list = ['a','b','c','d']
list[1]

'b'

In [15]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50] ?
list = [10,20,30,40,50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

In [16]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it
tuple = (100,200,300)
print(tuple)

(100, 200, 300)

In [17]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tuple = ('red','green','blue','yellow')
tuple[1:]

('green', 'blue', 'yellow')

In [31]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)
tuple = (10,20,5,15)
min(tuple)

5

In [32]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
tuple = ('dog','cat','rabbit')
tuple.index('cat')

1

In [33]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
tuple = ('apple','banana','kiwi')
'kiwi' in tuple

True

In [34]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set = {'a','b','c'}
print(set)

{'c', 'b', 'a'}

In [35]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set = {1,2,3,4,5}
set.clear()
print(set)

set()

In [36]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set = {1,2,3,4}
set.remove(4)
print(set)

{1, 2, 3}

In [37]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1,2,3}
set2 = {3,4,5}
set1.union(set2)

{1, 2, 3, 4, 5}

In [38]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1,2,3}
set2 = {2,3,4}
set3 = set1.intersection(set2)
print(set3)

{2, 3}

In [39]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dict = {'name':'pratik','age':23,'city':'pune'}
print(dict)

{'name': 'pratik', 'age': 23, 'city': 'pune'}

In [40]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dict = {'name':'John','age':25}
dict['contry'] = 'USA'
print(dict)

{'name': 'John', 'age': 25, 'contry': 'USA'}

In [54]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dict = {'name':'Alice','age':30}
dict['name']

'Alice'

In [55]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dict = {'name':'Bob','age':22,'city':'New york'}
dict.pop('age')
print(dict)

{'name': 'Bob', 'city': 'New york'}

In [56]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dict = {'name':'Alice','city':'paris'}
'city' in dict

True

In [57]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.
list = [1,2,3,4,5]
print(list)
tuple = (1,2,3,4,5)
print(tuple)
dict = {'name':'pratik','age':23,'city':'pune'}
print(dict)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{'name': 'pratik', 'age': 23, 'city': 'pune'}

In [61]:
'''27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)'''
import random
list = [random.randint(1,100) for i in range(5)]
list.sort()
print(list)

[16, 18, 23, 54, 68]

In [62]:
#28. Write a code to create a list with strings and print the element at the third index.
list = ['apple','banana','orange','kiwi']
print(list[2])

orange

In [63]:
#29. Write a code to combine two dictionaries into one and print the result.
dist = {'name':'pratik','age':23}
dist1 = {'city':'pune','state':'maharashtra'}
dist.update(dist1)
print(dist)

{'name': 'pratik', 'age': 23, 'city': 'pune', 'state': 'maharashtra'}